/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  color: white;
  text-align: center;
}
 */

.entries_container {
  background-color: #fff0d6;
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: red;*/
  color: green;
  background-color: green;
  text-align: center;
}

#containerF {
  width: 200%;
  max-width: 100px;
  margin: auto;
}

.cols {
  -moz-column-count: 10;
  -moz-column-gap: 1%;
  -moz-column-width: 0%;
  -webkit-column-count: 0;
  -webkit-column-gap: 0;
  -webkit-column-width: 0%;
  column-count: 5;
  column-gap: 0;
  column-width: 100%;
}

/* Rectangle */
.blue_background {
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0px;
  top: 40%;

  background: #4b72a5;
  border-radius: 15px;
}

.EntryTitle {
  /* Journal Entries */
  position: absolute;
  width: 647px;
  height: 61px;
  left: 332px;
  top: 163px;

  font-family: "Cambay";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 147px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #f37a2f;
}

.header {
  /* Group 29 */

  position: absolute;
  width: 1400px;
  height: 97px;
  left: 31px;
  top: 0px;
}

/* ScrapJam */
.ScrapJam_title {
  position: absolute;
  width: 406.19px;
  height: 52.96px;
  left: 3%;
  top: 22.41px;

  font-family: "Kranky";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 70px;

  color: #000000;
}

/* About */
.about {
  position: absolute;
  width: 76.29px;
  height: 30.55px;
  left: 65%;
  top: 48.89px;

  font-family: "Indivisible";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* Tutorial */
.tutorial {
  position: absolute;
  width: 94.85px;
  height: 30.55px;
  left: 72%;
  top: 48.89px;

  font-family: "Indivisible";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* Logout */
.logout {
  position: absolute;
  width: 86.6px;
  height: 30.55px;
  left: 80%;
  top: 48.89px;

  font-family: "Indivisible";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/* Rectangle 41 */
.header_rec {
  position: absolute;
  width: 1200px;
  height: 3.06px;
  left: 21px;
  top: 93.94px;

  background: #d9d9d9;
}

/* image 2 */
.jelly {
  position: absolute;
  width: 91.75px;
  height: 90.64px;
  left: 285.64px;
  top: 0px;
  background: url("https://static.vecteezy.com/system/resources/previews/009/347/302/original/jellyfish-animals-ocean-free-png.png");
  background-blend-mode: plus-darker;
}

.grid-item-Entries {
  padding: 1%;
  background-color: rgba(195, 251, 255, 0.6);
  /* background: rgba(195, 251, 255, 0.6); */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  /* Ellipse 41 */
}

.bubble_reflection {
  shape-outside: ellipse(20% 30%);
  clip-path: ellipse(30% 40%);
  width: 41.71px;
  height: 80.16px;
  background: rgba(217, 217, 217, 0.5);
  transform: rotate(30.96deg);
}

.grid-item-Entries:hover {
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(195, 251, 255, 0.7);
  box-shadow: 0 2px 12px #f1dfc4;
}

/*button_add is on index.css*/
