.bg-login {
  /*background-color: #c2b9ff;  Darker purple background */
  background-color: #FEFBF9;
}

.header-scrapjam {
  /* text-align: center; */
  font-family: "Century Gothic", Futura, sans-serif;
  font-size: 100px;
  color: #2c3e50;
  font-weight: bold;
  margin-top: 40px;
  /*color: white;*/
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust the height as needed, for example, 160% of the viewport height */
}

.user-pass {
  text-align: left;
  color: 'white';

}

.form-container2 {
  background-color: #8CB9BD; /*   background-color: #76b390; Pale purple window */
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 50%; /* Adjust the width as needed */
  height: 90%; /* Adjust the width as needed */ 


}

.form-container-input2 {
  width: 40%;
  margin-bottom: 300px;
  border: 30px solid rgb(0, 0, 0);
  border-radius: 100px;
  color: 'white';
}

.login-button2,
.create-account-button2 {
  width: 55%;
  max-width: 900px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
}

.login-button2 {
  background: #BBD686;
  /*background: rgb(176, 154, 196);*/
  color:#2B303A;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create-account-button2 {
  background: #ECB159;
  color:#2B303A;
  margin-bottom: 30px;
}

.logout-button2 {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #B2675E; /* Tomato red background */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button2:hover {
  background: #d23f30; /* Darker red on hover */
}
