body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
   background-color: #6a5acd; /*Darker purple background */
  /* color:rgb(160, 134, 70); */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160vh; /* Adjust the height as needed, for example, 160% of the viewport height */
}

.form-container {
    /* background-color: #f8f3f8;Pale purple window  */
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  width: 400%; /* Adjust the width as needed */
  max-width: 900px;
  height: 400%; /* Adjust the width as needed */
  max-height: 600px; /* Set a max-width to prevent it from becoming too wide */
  border: 30px solid rgb(219,155,100);
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 300px;
  border: 30px solid rgb(0, 0, 0);
  border-radius: 100px;
}

.login-button,
.create-account-button {
  width: 100%;
  max-width: 900px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
}

.login-button {
  background: rgb(176, 154, 196);
  margin-top: 20px;
  margin-bottom: 10px;
}

.create-account-button {
  /* background: rgb(128, 105, 233); */
  margin-bottom: 30px;
}

.logout-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff6347; /* Tomato red background */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background: #d23f30; /* Darker red on hover */
}
